<h1>
    <%= @user.name %>の登録情報変更
</h1>

<%= form_with(model: @user, local: true) do |f| %>
<div>
    <%= f.label :画像 %>
    <%= f.file_field :profimg %>
</div>

<div>
<%= f.label :name, 'ユーザーネーム' %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :email, 'Email' %>
<%= f.email_field :email %>
</div>
<div>
<%= f.label :password, 'Password' %>
<%= f.password_field :password, class: 'form-control' %>
</div>
<div>
<%= f.label :password_confirmation, 'Confirmation' %>
<%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<div>
<%= f.submit '変更' %>
</div>
<% end %>